* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.SignContainer {
  height: fit-content;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(149, 149, 157);
  margin-top: 2%;
  padding: 15px;
  border-radius: 15px;
  animation: moveup 0.8s cubic-bezier(0, 0.46, 0.48, 1.21);
}
@keyframes moveup {
  from {
    transform: translateY(100%);
  }
}
.formContainer h1 {
  font-weight: bold;
  margin: 5px auto !important;
}
.formContainer {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  font-family: Arial, Helvetica, sans-serif;
}

.inputField {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: start;
  margin-bottom: 5px;
  height: 50px;
  position: relative;
}
.socialWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: fit-content;
  align-items: center;
  margin-bottom: 20px;
}
.socialWrapper h1 {
  width: 100%;
}
.social {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}
.google {
  cursor: pointer;
  margin-right: 30px;
  width: 35px;
  height: 35px;
  color: red;
  transition: transform 0.3s ease;
}
.google:hover {
  transform: scale(1.1);
}
.facebook:hover {
  transform: scale(1.1);
}
.facebook {
  transition: transform 0.3s ease;
  color: blue;
  height: 35px;
  width: 35px;
}
.inputField input {
  width: 100%;
  /* max-width: 400px; */
  border: 1px solid #b1adad;
  border-radius: 5px;
  outline: none;
  padding: 13px 20px;
  font-size: 13px;
  float: left;
}
.inputField label {
  position: absolute;
  opacity: 0;
  cursor: text;
  background: #fff;
  transition: all 0.5s ease;
}
.inputField input:placeholder-shown + label {
  top: 15px;
  left: 20px;
  opacity: 1;
}
.inputField input:focus + label,
.inputField input + label {
  top: -6px;
  left: 20px;
  opacity: 1;
  padding: 0px 21px;
}

.formField {
  width: 100%;
  position: relative;
  margin-bottom: 40px;
}
.formField p {
  font-size: 12px;
  width: 140px;
  margin-top: 5%;
  color: rgb(210, 21, 21);
  text-align: left;
  font-weight: bold;
  position: absolute;
  left: 10px;
  bottom: -33px;
}
.confirmPassword {
  bottom: -20px;
  width: 200px !important;
}

label {
  font-size: 14px;
}

.signInCheckBoxContainer {
  margin-bottom: 10px;

  max-height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  position: relative;
  width: 100%;
}
.signInCheckBoxContainer p {
  font-size: 13px;
  font-weight: bold;
  color: red;
  position: absolute;
  top: 0px;
  right: 15%;
}
.signInCheckBoxContainer label {
  color: rgb(53, 53, 239);
  text-align: left;
}

.signInCheckBox {
  width: 180px;
  display: flex;
  justify-content: space-around;
}
.signInCheckBox label {
  font-size: 14px;
}
.buttonContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  height: 45px;
  align-items: center;
  margin: 10px 0;
}
.uncomplete {
  border: 2px solid rgb(233, 109, 109) !important;
}
.btn {
  padding: 7px 16px;
}
