* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.SignContainer {
  height: fit-content;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(149, 149, 157);
  margin-top: 2%;
  padding: 15px;
  border-radius: 15px;
}
.formContainer h1 {
  font-weight: bold;
  margin: 5px auto !important;
}
.formContainer {
  /* max-width: 350px; */
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  font-family: Arial, Helvetica, sans-serif;
}
.formField div {
  display: block;
  justify-content: flex-start;
  height: 50px;
  width: 100%;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5px;
  position: relative;
}
.formField div input {
  width: 100%;
  max-width: 400px;
  border: 1px solid #b1adad;
  border-radius: 5px;
  outline: none;
  padding: 7px 5px;
  font-size: 11px;
  float: left;

}
.formField div p {
  font-size: 10px;
  width: 140px;
  margin-top: 5%;
  color: rgb(210, 21, 21);
  text-align: left;
  font-weight: bold;
  position: absolute;
  left: 0;
  bottom: -15px;
}
.customFormField p {
  bottom: -20px;
}
.formField {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: start;
  margin-bottom: 5px;
}
label {
  font-size: 14px;
}
.signInCheckBoxContainer {
  margin-bottom: 10px;
  max-height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
}
.signInCheckBoxContainer p {
  font-size: 10px;
  width: 120px;
  font-weight: bold;
  color: red;
}
.signInCheckBoxContainer label {
  color: rgb(53, 53, 239);
  text-align: left;
}

.signInCheckBox {
  width: 180px;
  display: flex;
  justify-content: space-around;
}
.buttonContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  height: 45px;
  align-items: center;
  margin: 10px 0;
}
.uncomplete {
  border: 2px solid rgb(233, 109, 109) !important;
}
